<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
			<li><a href="#!/ap">Ap</a></li>
			<li><a href="#!/app_groups">AppGroups</a></li>
			<li><a href="#!/apps">Apps</a></li>
			<li><a href="#!/bgpneighs">Bgpneighs</a></li>
			<li><a href="#!/broadcasts">Broadcasts</a></li>
			<li><a href="#!/clusters">Clusters</a></li>
			<li><a href="#!/custom_apps">CustomApps</a></li>
			<li><a href="#!/dcinterfaces">Dcinterfaces</a></li>
			<li><a href="#!/dcuplinks">Dcuplinks</a></li>
			<li><a href="#!/devices">Devices</a></li>
			<li><a href="#!/endpoints">Endpoints</a></li>
			<li><a href="#!/inbound_rules">InboundRules</a></li>
			<li><a href="#!/networks">Networks</a></li>
			<li><a href="#!/nodes">Nodes</a></li>
			<li><a href="#!/orgs">Orgs</a></li>
			<li><a href="#!/outbound_rules">OutboundRules</a></li>
			<li><a href="#!/path_rules">PathRules</a></li>
			<li><a href="#!/ports">Ports</a></li>
			<li><a href="#!/sites">Sites</a></li>
			<li><a href="#!/ssids">Ssids</a></li>
			<li><a href="#!/switches">Switches</a></li>
			<li><a href="#!/uplinks">Uplinks</a></li>
			<li><a href="#!/users">Users</a></li>
			<li><a href="#!/wans">Wans</a></li>
			<li><a href="#!/zones">Zones</a></li>
	</ul>
</div>