<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsAp' : '#!/browser' }} ">Ap</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsApp_groups' : '#!/browser' }} ">App Groups</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsBgpneighs' : '#!/browser' }} ">Bgpneighs</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsBroadcasts' : '#!/browser' }} ">Broadcasts</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsClusters' : '#!/browser' }} ">Clusters</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsCustom_apps' : '#!/browser' }} ">Custom Apps</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsDcinterfaces' : '#!/browser' }} ">Dcinterfaces</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsDcuplinks' : '#!/browser' }} ">Dcuplinks</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsDevices' : '#!/browser' }} ">Devices</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsEndpoints' : '#!/browser' }} ">Endpoints</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsInbound_rules' : '#!/browser' }} ">Inbound Rules</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsNetworks' : '#!/browser' }} ">Networks</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsNodes' : '#!/browser' }} ">Nodes</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsOutbound_rules' : '#!/browser' }} ">Outbound Rules</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsPath_rules' : '#!/browser' }} ">Path Rules</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsSites' : '#!/browser' }} ">Sites</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsSsids' : '#!/browser' }} ">Ssids</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsSwitches' : '#!/browser' }} ">Switches</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsUplinks' : '#!/browser' }} ">Uplinks</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsUsers' : '#!/browser' }} ">Users</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsWans' : '#!/browser' }} ">Wans</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs/orgsZones' : '#!/browser' }} ">Zones</a></li>
	</ul>
</div>