<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li><a href="#!/orgs/ap">Ap</a></li>
		<li><a href="#!/orgs/app_groups">App Groups</a></li>
		<li><a href="#!/orgs/bgpneighs">Bgpneighs</a></li>
		<li><a href="#!/orgs/broadcasts">Broadcasts</a></li>
		<li><a href="#!/orgs/clusters">Clusters</a></li>
		<li><a href="#!/orgs/custom_apps">Custom Apps</a></li>
		<li><a href="#!/orgs/dcinterfaces">Dcinterfaces</a></li>
		<li><a href="#!/orgs/dcuplinks">Dcuplinks</a></li>
		<li><a href="#!/orgs/devices">Devices</a></li>
		<li><a href="#!/orgs/endpoints">Endpoints</a></li>
		<li><a href="#!/orgs/inbound_rules">Inbound Rules</a></li>
		<li><a href="#!/orgs/networks">Networks</a></li>
		<li><a href="#!/orgs/nodes">Nodes</a></li>
		<li><a href="#!/orgs/outbound_rules">Outbound Rules</a></li>
		<li><a href="#!/orgs/path_rules">Path Rules</a></li>
		<li><a href="#!/orgs/sites">Sites</a></li>
		<li><a href="#!/orgs/ssids">Ssids</a></li>
		<li><a href="#!/orgs/switches">Switches</a></li>
		<li><a href="#!/orgs/uplinks">Uplinks</a></li>
		<li><a href="#!/orgs/users">Users</a></li>
		<li><a href="#!/orgs/wans">Wans</a></li>
		<li><a href="#!/orgs/zones">Zones</a></li>
	</ul>
</div>