<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li><a href="#!/orgs/orgsAp">Ap</a></li>
		<li><a href="#!/orgs/orgsApp_groups">App Groups</a></li>
		<li><a href="#!/orgs/orgsBgpneighs">Bgpneighs</a></li>
		<li><a href="#!/orgs/orgsBroadcasts">Broadcasts</a></li>
		<li><a href="#!/orgs/orgsClusters">Clusters</a></li>
		<li><a href="#!/orgs/orgsCustom_apps">Custom Apps</a></li>
		<li><a href="#!/orgs/orgsDcinterfaces">Dcinterfaces</a></li>
		<li><a href="#!/orgs/orgsDcuplinks">Dcuplinks</a></li>
		<li><a href="#!/orgs/orgsDevices">Devices</a></li>
		<li><a href="#!/orgs/orgsEndpoints">Endpoints</a></li>
		<li><a href="#!/orgs/orgsInbound_rules">Inbound Rules</a></li>
		<li><a href="#!/orgs/orgsNetworks">Networks</a></li>
		<li><a href="#!/orgs/orgsNodes">Nodes</a></li>
		<li><a href="#!/orgs/orgsOutbound_rules">Outbound Rules</a></li>
		<li><a href="#!/orgs/orgsPath_rules">Path Rules</a></li>
		<li><a href="#!/orgs/orgsSites">Sites</a></li>
		<li><a href="#!/orgs/orgsSsids">Ssids</a></li>
		<li><a href="#!/orgs/orgsSwitches">Switches</a></li>
		<li><a href="#!/orgs/orgsUplinks">Uplinks</a></li>
		<li><a href="#!/orgs/orgsUsers">Users</a></li>
		<li><a href="#!/orgs/orgsWans">Wans</a></li>
		<li><a href="#!/orgs/orgsZones">Zones</a></li>
	</ul>
</div>