<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li><a href="{{ isProxyRegister? '#!/ap' : '#!/browser' }} ">Ap</a></li>
		<li><a href="{{ isProxyRegister? '#!/app_groups' : '#!/browser' }} ">App Groups</a></li>
		<li><a href="{{ isProxyRegister? '#!/apps' : '#!/browser' }} ">Apps</a></li>
		<li><a href="{{ isProxyRegister? '#!/bgpneighs' : '#!/browser' }} ">Bgpneighs</a></li>
		<li><a href="{{ isProxyRegister? '#!/broadcasts' : '#!/browser' }} ">Broadcasts</a></li>
		<li><a href="{{ isProxyRegister? '#!/clusters' : '#!/browser' }} ">Clusters</a></li>
		<li><a href="{{ isProxyRegister? '#!/custom_apps' : '#!/browser' }} ">Custom Apps</a></li>
		<li><a href="{{ isProxyRegister? '#!/dcinterfaces' : '#!/browser' }} ">Dcinterfaces</a></li>
		<li><a href="{{ isProxyRegister? '#!/dcuplinks' : '#!/browser' }} ">Dcuplinks</a></li>
		<li><a href="{{ isProxyRegister? '#!/devices' : '#!/browser' }} ">Devices</a></li>
		<li><a href="{{ isProxyRegister? '#!/endpoints' : '#!/browser' }} ">Endpoints</a></li>
		<li><a href="{{ isProxyRegister? '#!/inbound_rules' : '#!/browser' }} ">Inbound Rules</a></li>
		<li><a href="{{ isProxyRegister? '#!/networks' : '#!/browser' }} ">Networks</a></li>
		<li><a href="{{ isProxyRegister? '#!/nodes' : '#!/browser' }} ">Nodes</a></li>
		<li><a href="{{ isProxyRegister? '#!/orgs' : '#!/browser' }} ">Orgs</a></li>
		<li><a href="{{ isProxyRegister? '#!/outbound_rules' : '#!/browser' }} ">Outbound Rules</a></li>
		<li><a href="{{ isProxyRegister? '#!/path_rules' : '#!/browser' }} ">Path Rules</a></li>
		<li><a href="{{ isProxyRegister? '#!/ports' : '#!/browser' }} ">Ports</a></li>
		<li><a href="{{ isProxyRegister? '#!/sites' : '#!/browser' }} ">Sites</a></li>
		<li><a href="{{ isProxyRegister? '#!/ssids' : '#!/browser' }} ">Ssids</a></li>
		<li><a href="{{ isProxyRegister? '#!/switches' : '#!/browser' }} ">Switches</a></li>
		<li><a href="{{ isProxyRegister? '#!/uplinks' : '#!/browser' }} ">Uplinks</a></li>
		<li><a href="{{ isProxyRegister? '#!/users' : '#!/browser' }} ">Users</a></li>
		<li><a href="{{ isProxyRegister? '#!/wans' : '#!/browser' }} ">Wans</a></li>
		<li><a href="{{ isProxyRegister? '#!/zones' : '#!/browser' }} ">Zones</a></li>
	</ul>
</div>