body {
	font-family:'Open Sans', sans-serif;
	font-size: 12px;
	background-color: #2C2D2C;
}

.navbar-default {
	background-color: #3B3D3D;
	border-color: #2C2D2C;
	margin-right: 75px;
}

body h2 {
	color: #dddddd;
	font-size: 18px;
}

.centered-form{
	margin-top: 60px;
}

.navbar-default a.navbar-brand {
	font-size: 18px;
	color: #FF6725;
}

.navbar-default .navbar-nav a {
	font-size: 14px;
	color: #dddddd;
}

.centered-form .panel{
	background-color: #2C2D2C;
	#box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.grid {
  width: 100%;
  height: 100%;
}

.ui-grid {
	border: none;
}

.ui-grid-header-cell {
  text-align: center;
  line-height: 1.5;
  color: #dddddd;
  background-color: #2C2D2C;
  border-right: 0px;
}

.ui-grid-cell .ui-grid-cell-contents {
  color: #dddddd;
  background-color: #2C2D2C;
  text-align: center;
}

.ui-grid-menu-item {
	color: #000000;
}

.ui-grid-menu-button {
  color: #dddddd;
  background-color: #2C2D2C;
  border: none;
}

.ui-grid-cell 
{
    border-right: 0px;
    text-align: center;
}

#closeSelectedRecord {
  color: #dddddd;
  background-color: #2C2D2C;
}

#download a, #upload {
  color: #dddddd;
  background-color: #2C2D2C;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 50px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top: 50px;
    left: 125px;
    width: 0;
    height: 100%;
    margin-left: -125px;
    overflow-y: auto;
    background-color: #3B3D3D;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #dddddd;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #dddddd;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #dddddd;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.formly {
  /* style your forms however you like */
  font-size: 12px;
  color: #dddddd;
}

.formly .form-control {
	font-size: 12px;
	background-color: #2C2D2C;
	#border: none;
	color: #dddddd;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 120px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 135px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    
    .mainGrid{
    	height: 480px;
  	}
}

